.top_btn_position {
  position: fixed;
  bottom: 30px;
  right: 0px;
  z-index: 1;
}

.top_btn_style {
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  color: #6ec1e4;
  cursor: pointer;
}

.top_btn_style:hover {
  transition: all ease-in-out 0.2s;
  background-color: #6ec1e4;
  border: none;
  color: #ffffff;
}

@media (min-width: 1200px) {
  .top_btn_position {
    right: 125px;
    bottom: 35px;
  }
  .top_btn_style {
    height: 50px;
    width: 50px;
  }
}
